<div id="index-banner" class="container-fluid">Banner Third
<div class="container-fluid parallax-container valign-wrapper">Banner Third
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./../../../assets/background3.jpg" alt="Unsplashed background img 3" style="height:500px;width:100%"></div>
  </div>
</div>