 <div id="index-banner" class="container-fluid">Banner First
    <!-- <div class="section no-pad-bot"> -->
      <!-- <div class="container"> -->
        <!-- <br><br>
        <h1 class="header center teal-text text-lighten-2">Parallax Template</h1> -->
        <!-- <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div> -->
        <!-- <div class="row center"> -->
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        <!-- </div> --> 
      <!-- </div> -->
    <div class="parallax"><img src="./../../../assets/background1 (1).jpg" alt="Unsplashed background img 1" style="height:500px;width:100%;"></div>
   
  </div>