<div class="container-fluid"> 
    <!-- Nav -->
    <div class="container-fluid">
        <app-nav></app-nav>
    </div> 

    <!-- Products -->
    <div  class="container-fluid">
        <app-products></app-products>
    </div>
    <hr>

    <!-- Banner First -->
    <div class="container-fluid">
        <app-banner-first></app-banner-first>
    </div>
    <hr>

    <!-- Contact Us -->
    <div class="container-fluid">
        <app-contact-us></app-contact-us>
    </div>
    <hr>

    <!-- Banner Second -->
    <!-- <div class="container-fluid">
        <app-banner-second></app-banner-second>
    </div>
    <hr> -->

    <!-- Banner Third -->
    <div class="container-fluid">
        <app-banner-third></app-banner-third>
    </div>    
    <hr>

    <!-- Footer -->
    <div class="container-fluid">
        <app-footer></app-footer>
    </div>
    <hr>

</div>