 <h1 align="center">
  We have {{totProds}} ptoducts in our stock...!
</h1>

<div class="container row" style=" margin: 10px auto;">
  <div style="border: 1px solid gray;width: 350px;" class="container col col-sm-4" *ngFor="let book of books">
  <div class="card col col-sm-5" style="width: 300px;height: 600px;">
        <img class="card-img-top" [src]="book.imgSrc" height="200px" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title" style="color: red;">{{book.productName | uppercase}}</h5>
        </div>
        <div class="card-body">
          <p>Product ID : {{book.productId}}</p>
          <p>Product Name : {{book.productName}}</p>
          <p>Product Instock : {{book.inStock}}</p> 
          <del><p [ngStyle]="{color:book.isVeg?'green':'red'}">Product Price : {{book.price | currency:'INR':'code'}}</p></del>  
          <p style="color: blue;">Discount Price : {{book.price | bookFilter:book.productName | currency:'INR':'code'}}</p>  
          <span [ngSwitch]="book.country">Country : 
            <img *ngSwitchCase="'India'"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png"
                  width="24"  
            >
            <img *ngSwitchCase="'Australia'"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/23px-Flag_of_Australia.svg.png"
                  width="24"  
            > 
            <img *ngSwitchCase="'Germany'"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png"
                  width="24"  
            >  
          </span><br><br> 
          <p> 
            <button class="btn btn-danger" (click)="removeBookQuentity(book)" style="position: relative;">Remove</button>&nbsp;&nbsp;
              <span>{{ book.quentity}}</span>&nbsp;&nbsp; 
            <button class="btn btn-primary" (click)="addBookQuentity(book)" style="position: relative;">Add</button> 
          </p>  
        </div>   
      </div>
      <div class="col-md-12 text-center">
        <a class="btn btn-primary" [routerLink]="['/bookSpecificData',book.productName]" style="margin-bottom: 5px;">Submit</a> 
      </div> 
      </div>  
      </div> 