<div class="container col col-sm-12" style="width:100%;height:auto;border: 1px solid gray;padding:10px 20px">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <!-- {{logForm.valid}} -->
        <div class="row">
            <div class="col col-sm-12">  
                <label>Email Id : </label>
                    <input type="email" formControlName="email" #emailId class="form-control" [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" placeholder="Enter Your Email-Id">
                <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.required">Email Is Required</p> 
                    <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.pattern">Email Id Is Not Correct</p>
                </span>

                <label>Password : </label>
                    <input type="password" formControlName="password" #pass class="form-control" [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" placeholder="Enter Your Password">
                <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.required">Password Is Required</p>
                    <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.minlength">Enter Valid Password Id</p>
                </span> 

                <div style="margin-top: 10px;" align="center">
                    <input type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" value="Submit">  
                </div>      
            </div>
        </div>
    </form>
</div>